.upload-page {
  padding: 2rem;
}

.upload-page h1 {
  margin-bottom: 2rem;
}

.upload-box {
  width: 500px;
  height: 220px;

  border: 3px dashed #94a3b8;

  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f8fafc;
}

.file-info {
  margin-top: 20px;

  padding: 1rem;

  width: 500px;

  background: white;

  border-radius: 12px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.submit-btn {
  margin-top: 20px;

  padding: 12px 24px;

  background: #2563eb;

  color: white;

  border: none;

  border-radius: 8px;

  cursor: pointer;
}

.submit-btn:hover {
  background: #1d4ed8;
}